.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.full_width {
    width: 100%;
}

.flex_expander {
    flex-grow: 1;
}

.flex_horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.flex_vertical {
    display: flex;
    flex-direction: column;
}

.muted {
    pointer-events: none;
    opacity: 0.2;
}